.form {
  padding: 0.625rem;
}

.textarea {
  border-radius: 0.625rem;
  border: 3px solid transparent;
  font-size: 1.3125rem;
  min-height: 12.5rem;
  outline: 0;
  padding: 0.9375rem;
  resize: none;
  width: 100%;
  transition-duration: 150ms;
}

.textarea.darkMode {
  color: var(--darkModeTextColor);
  background-color: var(--darkModeBlack);
}

.textareaDraggedIn {
  border: 3px dashed var(--blue);
}

.buttonCont {
  padding: 0.9375rem;
}

.uploadedImg {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.ImgSection {
  position: relative;
  width: 30rem;
}

.deleteImgButton {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  border: 0;
  color: white;
  font-size: 24px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
}

.composeSofteeWrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
  transition-duration: 150ms;
}

.composeSofteeWrapper.darkMode {
  background-color: var(--darkModeBlack);
  color: var(--darkModeTextColor);
}

.avatar {
  padding-top: 20px;
  padding-left: 10px;
}

.hastagsArea {
  border-radius: 0.625rem;
  border: 3px solid transparent;
  font-size: 1rem;
  outline: 0;
  padding: 0.9375rem;
  resize: none;
  /* border: 1px solid white; */
  transition-duration: 150ms;
}

.hastagsArea.darkMode {
  color: var(--darkModeTextColor);
  background-color: var(--darkModeBlack);
}

.hastag {
  background-color: var(--lightGray);
  border-radius: 2rem;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  height: max-content;
  padding: 0.125rem 0.625rem;
  transition-duration: 150ms;
}

.hastag:hover {
  background-color: var(--gray);
}
.hastag.darkMode {
  background-color: #444444;
}

.hastagsWrapper {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.deleteHastag button {
  background: none;
  border: none;
  color: var(--black);
  font-size: 1.2rem;
}
