.hastag {
  padding: 0.125rem 0.3125rem;
  color: var(--blue);
  font-weight: 600;
  background-color: var(--lightGray);
  border-radius: 2rem;
  transition-duration: 150ms;
}

.hastag.darkMode {
  background-color: #444444;
}

.hastag:hover {
  background-color: var(--gray);
}
