.header {
  position: sticky;
  width: 100%;
}

.img {
  width: 3rem;
}

.ul {
  padding: 0px 1rem 0px 1rem;
  display: flex;
  justify-content: space-between;
}

.li {
  list-style-type: none;
  user-select: none;
  cursor: pointer;
}
