.softeesCont {
  overflow-y: hidden;
}

.section {
  flex: 1;
  background-color: white;
  transition-duration: 150ms;
}

.section.darkMode {
  color: var(--darkModeTextColor);
  background-color: #161616;
}
