.header {
  border-bottom: 1px solid #ccc;
  height: 3.0625rem;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
}

.h2 {
  font-size: 1.3125rem;
  font-weight: 700;
}

.nav {
  position: sticky;
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 3.0625rem;
  width: 100%;
}

.section {
  padding-top: 3.0625rem;
}
