.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 19%;
  padding-top: 0.625rem;
  transition-duration: 150ms;
  border-bottom: 2px solid var(--gray);
}

.wrapper.darkMode {
  background-color: var(--darkModeBlack);
}

.inputPhrase {
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: underline;
  transition-duration: 150ms;
  user-select: none;
}

.inputPhrase.darkMode {
  color: var(--darkModeTextColor);
}

.inputWrapper {
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--gray);
  display: flex;
  padding: 0.3rem 1.875rem;
  position: relative;
}

.inputWrapper svg {
  left: 0.3125rem;
  position: absolute;
  stroke: lightgray;
}

.searchInput {
  border: none;
  font-size: 1.125rem;
  height: 1.875rem;
  outline: none;
  transition: 150ms;
  width: 18.75rem;
}

.searchInput.darkMode {
  background: var(--darkModeBlack);
  color: var(--darkModeTextColor);
}

.hastagsWrapper {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;
  transition: 150ms;
}

.hastagsWrapper.darkMode {
  background: var(--darkModeBlack);
  color: var(--darkModeTextColor);
}

.hastagsWrapper p {
  user-select: none;
  cursor: pointer;
}

.softeesWrapper {
  height: 100%;
  transition: 150ms;
}

.softeesWrapper.darkMode {
  background: var(--darkModeBlack);
  color: var(--darkModeTextColor);
}
