.Softee {
  border-bottom: 2px solid #eee;
  display: flex;
  padding: 0.625rem 0.9375rem;
  transition-duration: 150ms;
}

.Softee:hover {
  background: #f5f8fa;
  cursor: pointer;
}

.Softee.darkMode {
  border-bottom: 2px solid var(--darkModeLines);
}

.Softee:hover.darkMode {
  background: #191919;
}

.div {
  padding-right: 0.625rem;
}

.p {
  line-height: 1.3125;
  display: flex;
  flex-direction: column;
  gap: 0.325rem;
}

.date {
  color: #555;
  font-size: 0.875rem;
  cursor: pointer;
  transition-duration: 150ms;
}

.date:hover {
  text-decoration: underline;
}

.date.darkMode {
  color: rgb(102, 102, 102);
}

.softeeImg {
  border-radius: 10px;
  height: auto;
  margin-top: 0.625rem;
  width: 50%;
}

.hastagsWrapper {
  display: flex;
  gap: 0.625rem;
}
