.Softee {
  border-bottom: 2px solid #eee;
  display: flex;
  padding: 0.625rem 0.9375rem;
}

.div {
  padding-right: 0.625rem;
}

.p {
  line-height: 1.3125;
}

.date {
  color: #555;
  font-size: 0.875rem;
  cursor: pointer;
}

.date:hover {
  text-decoration: underline;
}

.softeeImg {
  border-radius: 10px;
  height: auto;
  margin-top: 0.625rem;
  width: 50%;
}
