.button {
  background-color: var(--lightBlue);
  border-radius: 100%;
  border: 1px solid var(--gray);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.buttonWrapper {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  background-color: var(--gray);
  margin-right: 0.9375rem;
  border-radius: 39%;
  cursor: pointer;
}

.buttonWrapper.right {
  justify-content: flex-end;
}
